In [1]:
import pandas as pd
import numpy as np

In [19]:
sample_numpy_data = np.array(np.arange(50)).reshape((10,5))
sample_numpy_data

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34],
       [35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44],
       [45, 46, 47, 48, 49]])

In [44]:
dates_index=pd.date_range('20200101',periods=10)
sample_df = pd.DataFrame(sample_numpy_data, columns=list('ABCDE') , index=dates_index)
sample_df

             A   B   C   D   E
2020-01-01   0   1   2   3   4
2020-01-02   5   6   7   8   9
2020-01-03  10  11  12  13  14
2020-01-04  15  16  17  18  19
2020-01-05  20  21  22  23  24
2020-01-06  25  26  27  28  29
2020-01-07  30  31  32  33  34
2020-01-08  35  36  37  38  39
2020-01-09  40  41  42  43  44
2020-01-10  45  46  47  48  49

**Selection using column name**

In [29]:
sample_df['D']

1     3
2     8
3    13
4    18
5    23
6    28
7    33
8    38
9    43
0    48
Name: D, dtype: int32

**Selection using slicing**

In [30]:
sample_df[1:4]

    A   B   C   D   E
2   5   6   7   8   9
3  10  11  12  13  14
4  15  16  17  18  19

**Selecting using multi-axis by label**

In [37]:
sample_df.loc[:,['A','B']]

    A   B
1   0   1
2   5   6
3  10  11
4  15  16
5  20  21
6  25  26
7  30  31
8  35  36
9  40  41
0  45  46

**Using result**

In [45]:
sample_df.loc['2020-01-05',['D','A']] [0]*4

92

**Selection by Positoin**

In [46]:
sample_df.iloc[3]

A    15
B    16
C    17
D    18
E    19
Name: 2020-01-04 00:00:00, dtype: int32

**Integer slicing**

In [54]:
sample_df.iloc[0:3,2:4]

             C   D
2020-01-01   2   3
2020-01-02   7   8
2020-01-03  12  13

**Slicing row explicitly**

In [55]:
sample_df.iloc[1:3,:]

             A   B   C   D   E
2020-01-02   5   6   7   8   9
2020-01-03  10  11  12  13  14

**Boolean Indexing**

In [59]:
sample_df.C>=14

2020-01-01    False
2020-01-02    False
2020-01-03    False
2020-01-04     True
2020-01-05     True
2020-01-06     True
2020-01-07     True
2020-01-08     True
2020-01-09     True
2020-01-10     True
Freq: D, Name: C, dtype: bool

In [60]:
sample_df[sample_df>=11]

               A     B     C     D     E
2020-01-01   NaN   NaN   NaN   NaN   NaN
2020-01-02   NaN   NaN   NaN   NaN   NaN
2020-01-03   NaN  11.0  12.0  13.0  14.0
2020-01-04  15.0  16.0  17.0  18.0  19.0
2020-01-05  20.0  21.0  22.0  23.0  24.0
2020-01-06  25.0  26.0  27.0  28.0  29.0
2020-01-07  30.0  31.0  32.0  33.0  34.0
2020-01-08  35.0  36.0  37.0  38.0  39.0
2020-01-09  40.0  41.0  42.0  43.0  44.0
2020-01-10  45.0  46.0  47.0  48.0  49.0

**isin method() in pandas**

In [61]:
sample_df2 = sample_df.copy()
sample_df2['Fruits'] = ['Apple','Orange','Pineapple','Grapes','WaterMelon','Green apple','Cherry','Dates','Black Grapes','Avacodo']
sample_df2

             A   B   C   D   E        Fruits
2020-01-01   0   1   2   3   4         Apple
2020-01-02   5   6   7   8   9        Orange
2020-01-03  10  11  12  13  14     Pineapple
2020-01-04  15  16  17  18  19        Grapes
2020-01-05  20  21  22  23  24    WaterMelon
2020-01-06  25  26  27  28  29   Green apple
2020-01-07  30  31  32  33  34        Cherry
2020-01-08  35  36  37  38  39         Dates
2020-01-09  40  41  42  43  44  Black Grapes
2020-01-10  45  46  47  48  49       Avacodo

In [63]:
sample_df2[sample_df2['Fruits'].isin(['Banana','Apple','Orange'])]

            A  B  C  D  E  Fruits
2020-01-01  0  1  2  3  4   Apple
2020-01-02  5  6  7  8  9  Orange